body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin, .form-deposit {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.f-login{
    margin-bottom: 5px;
    margin-top: 5px;
}

.row-new-game {
    margin-bottom: 125px;
    margin-top: 125px; 
}

div[class^="zone-"], div[class*=" zone-"] {
    height: 200px;
}
